<template>
  <div class="layout">
    <div class="lateral">
      <div class="fixed">
        <the-nav-bar-left></the-nav-bar-left>
      </div>
    </div>

    <main>
      <nuxt/>
    </main>

    <style>
      :root {
        --nav-bar-color: {{ config.nav_bar_color }};
        --nav-bar-background: {{ config.nav_bar_background }};
      }
    </style>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import TheNavBarLeft from '~/components/TheNavBarLeft'

export default {
  components: {
    TheNavBarLeft
  },
  computed: {
    ...mapState('main', ['config'])
  },
  mounted: function () {
    this.$store.dispatch('main/fetchData')
  }
}
</script>

<style scoped lang="scss">
.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  .lateral {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: var(--nav-bar-background);
  }

  main {
    display: flex;
    flex: 4;
    flex-direction: column;
    background-color: #f5f7f9
  }

  @media (min-width: $widescreen) {
    main {
      flex: 5;
    }
  }

  @media (min-width: $fullhd) {
    main {
      flex: 6;
    }
  }
}
</style>
