<template>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Red Porcina para la Soberanía Alimentaria<br>
          Sistema Agroalimentario Porcino
        </h1>
        <h2 class="subtitle">
          <br><i>CIAP</i>
        </h2>
      </div>
    </div>
  </section>
</template>

<style scoped lang="scss">
.hero {
  background: linear-gradient(to top, rgba(46, 49, 65, 0.7), rgba(46, 49, 65, 0.95)), url("https://ciap.gitlab.io/red.porcina/banner.jpg") no-repeat center center fixed;
  background-size: cover;
}
</style>
